.card {
    margin: 0 auto;
    width: 50%;
    background-color: #c6ba98;
    border-radius: 20px;
    overflow: hidden;
}

.card div {
    padding: 20px;
}

.card p {
    padding: 15px 0 15px 0;
}

.card {
    margin-bottom: 20px;
}

.card span {
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.card img {
    width: 100%;
}